<footer style="
    font-weight: 500;
    background-image:url(../../../assets/ddd.gif);
    background-attachment: fixed;
    background-size: 100% 170%;
    padding: 15px 0;
  ">
  <div class="d-flex justify-content-center align-items-center" style="color:#ccc">
    Made With By <a style="text-decoration: none;color: aliceblue; margin:0 2px;border-bottom: aliceblue 1px solid;"
      href="https://mostfaswaisi93.github.io/resume-pdf/" target="blank"> mostfaswaisi93 </a> © 2021
  </div>

</footer>
